.display-card {
  width: 330px;
  background-color: white;
}

.red {
  color: red;
}

.display-container{
  flex-wrap: wrap;
}

.place-name{

  font-size: 1.5rem;
}

.tag-container{
  flex-wrap: wrap;
}

.tag {
  border-radius: 25px;
  padding: 0.5rem 1rem;
  margin: 0.3rem;
}

#loading-bar-spinner.spinner {
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  z-index: 19 !important;
  -webkit-animation: loading-bar-spinner 400ms linear infinite;
          animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
  width: 40px;
  height: 40px;
  border: solid 4px transparent;
  border-top-color: #85C270 !important;
  border-left-color: #85C270 !important;
  border-radius: 50%;
}

@-webkit-keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}