.header-text {
  font-size: 4rem;
  width: 100%;
}

.paragraph {
  width: 25rem;
}

.hero-image {
  max-width: 100%;
  min-height: 100%;

}

.hero-text-container {
  flex: 0 0 50%;
}

.hero-image{
  position: relative;
}

.image-container {
  flex: 0 1 auto;
}

.image-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  color: white;
}